* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body {
    font-family: "Raleway", sans-serif;
    background: #ffffff;
}
.logo{
    font-weight:800 ;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px;
   
}
.nav-links {
    display: flex;
    
}
.link{
    text-decoration: none;
    padding: 5px 20px;
    margin: 0px 10px;
    font-size: 17px;
    font-weight: 400;
    font-family: raleway;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 10px;
    color: black;
}
.log{
    background: black;
    color: white;
}

.hero-img{
    width: 100%;
    margin-top: 50px;
}
.hero {
    position: relative;
    text-align: center;
    color: white;
  }
.text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 70px;
}
.order{
    text-align: center;
    font-weight: 800;
    color: black;
    margin-top: 50px;
    font-size: 70px;
}
.list1{
    display: flex;
    margin-top: 50px;
    
}
.list-img{
    width:80%;
    margin:25px 25px;
    border-radius: 5px;
}
.sec{
    margin-left: 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: white;
    text-align: center;
}
.cont {
    border: none;
    background: #000000;
    width: fit-content;
    padding: 20px 60px;
    border-radius: 50px;
    color: white;
    margin-top: 20px;
}
.birr{
    font-weight: 700;
}

.search-section {
   margin-top: 50px;
   margin-left: 50px;
}

.search-section input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}